<button class="addPost" (click)="addPost=!addPost">+</button>

<form [formGroup]="postForm" (ngSubmit)="addingPost(postForm.value)" *ngIf="addPost">
    <div>
        <span>Title: </span>
        <textarea type="text" formControlName="title">Title: </textarea>
    </div>
    
    <div>
        <span>Description: </span>
        <textarea type="text" formControlName="description" placeholder="What's happening? "></textarea>
    </div>
    <button class="button" type="submit">Add Post</button>
</form>

