<button class="addPost" (click)="addPost=!addPost">+</button>

<form class="form-group" [formGroup]="postForm" (ngSubmit)="addingPost(postForm.value)" *ngIf="addPost">
    <div>
        <label>Title: </label>
        <input type="text" class="form-control" formControlName="title" placeholder="Enter Title">

    </div>
    
    <div>
        <label>Description: </label>
        <textarea class="form-control" type="text" formControlName="description" placeholder="What's happening? "></textarea>
    </div>
    <button class="button" type="submit">Add Post</button>
</form>

